<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/head.html :: head_fragment(title = '一般ユーザーページ', scripts = ~{::script}, links = ~{::link})"><meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>一般ユーザーページ</title>
	<meta charset="UTF-8">
</head>

<body>
	<h1>一般ユーザーページ</h1>
	<p>ようこそ<span sec:authentication="principal.loginUser.name">一般</span>さん</p>
	<ul>
	<li><a sec:authorize-url="/businesscard/viewList" href="viewList.html" th:href="@{/businesscard/viewList}">名刺リストへ</a></li>
	<li><a sec:authorize-url="/businesscard/create" href="create.html" th:href="@{/businesscard/create}">名刺新規登録へ</a></li>
	</ul>
	<a href="home.html" th:href="@{/}">トップページへ</a>
	<form method="post" action="home.html" th:action="@{/logout}">
		<button type="submit">ログアウト</button>
	</form>
</body>

</html>