<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head
	th:replace="common/head.html :: head_fragment(title = '名刺情報変更', scripts = ~{::script}, links = ~{::link})">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<div class="container">
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<label class="text-danger" th:text="${error}"></label>
		</div>
		<h1>名刺情報変更</h1>
		<form th:action="@{/businesscard/update}"
			th:object="${businessRequest}" th:method="post" accept-charset="UTF-8">
			<div class="form-group">
				<label>ID：<span th:text="${updateId}"></span></label> <input
					type="hidden" name="updateId" class="form-control"
					th:value="${updateId}">
				<div>
					<label>社名：<span class="text-danger">※</span></label> <input
						type="text" class="form-control" name="company"
						 th:value="${company}"/>
				</div>
				<div class="form-group">
					<label>名前：<span class="text-danger">※</span></label> <input
						type="text" class="form-control" name="businessName"
						th:value="${businessName}" />
				</div>
				<div class="form-group">
					<label>ブックマーク：<span class="text-danger">※</span></label> <input
						type="checkbox" name="bookmark" th:checked="${bookmark}" /> <input
						type="hidden" name="_checkbox_bookmark" value="false"
						th:value="${bookmark ? 'false' : 'true'}" />
				</div>
				<div class="form-group">
					<label>画像情報：</label>
					<div>
						<img name="cardImage" class="card-image" th:src="${cardImagePath}"
							alt="名刺画像" th:value="${cardImagePath}">
					</div>
				</div>
			</div>

			<p sec:authorize-url="/businesscard/upload">
				<a href="businesscard/upload.html"
					th:href="@{/businesscard/upload(id=${updateId}, card-image=${cardImagePath})}"
					class="btn btn-primary">画像をアップロード</a>
			</p>

			<div class="text-center">
				<a href="/businesscard/viewList" class="btn btn-secondary">キャンセル</a>
				<input type="submit" value="変更" class="btn btn-primary">
			</div>
		</form>
	</div>
</body>
</html>
